{% extends "AngularUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    
    <div id="login-box" class="login-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header blue lighter bigger">
                    <i class="fa-coffee green"></i>
                    Please Enter Your Information
                </h4>
                <div class="space-6"></div>

                {% if error %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ error|trans }}
                    </div>
                {% endif %}

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
              
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="username" placeholder="Introduce tu nombre de usuario" name="_username" value="{{ last_username }}" required="required">
                                <span class="input-group-addon">
                                    <i class="fa-user fa-fw"></i>
                                </span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" placeholder="Introduce tu contraseña" 
                                    name="_password" required="required">
                                <span class="input-group-addon">
                                    <i class="fa-lock fa-fw"></i>
                                </span>
                            </div>
                        </div>

                        <div class="space"></div>

                        <div class="clearfix">
                            <label class="inline">
                                <input type="checkbox" class="ace">
                                <span class="lbl"> Remember Me</span>
                            </label>

                            <button class="width-35 pull-right btn btn-sm btn-primary" type="submit">
                                <i class="icon-key"></i>
                                Login
                            </button>
                        </div>

                    </fieldset>
                </form>
            </div><!--/.widget-main-->
            <div class="toolbar clearfix">
                <div>
                    <a href="{{ path('fos_user_resetting_request') }}" class="forgot-password-link pull-left">
                        <i class="fa-key"></i>
                        I forgot my password                                                
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}