<!DOCTYPE html>
<html lang="es" ng-app="myApp">
    <head>
        <meta charset="UTF-8" />
        <title>Symfony &hearts; Angular</title>

        <!-- WEB URL -->
        <base href="{{ path("homepage") }}" />

        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">

        {% stylesheets filter='cssrewrite'
            'bundles/angularcore/vendor/css/bootstrap.min.css'
            'bundles/angularcore/vendor/css/ace.bootstrap.min.css'
            'bundles/angularcore/vendor/css/font-awesome.min.css'

            'bundles/angularcore/css/main.less'
        %}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}


        <!-- jQuery & AngularJS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('bundles/angularcore/vendor/js/jquery.min.js') }}">\x3C/script>')</script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
        <script>window.angular || document.write('<script src="{{ asset('bundles/angularcore/vendor/js/angular.min.js') }}">\x3C/script>')</script>
        <!-- END jQuery & AngularJS -->

        <!-- JS Routing -->
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <!-- END JS Routing -->

        {% javascripts  
            'bundles/angularcore/vendor/js/angular-route.min.js'
            'bundles/angularcore/vendor/js/angular-animate.min.js'
            'bundles/angularcore/vendor/js/angular-sanitize.min.js'
            'bundles/angularcore/vendor/js/angular-cache.min.js'
            'bundles/angularcore/vendor/js/bootstrap.min.js'

            'bundles/angularcore/vendor/js/moment.min.js'
            'bundles/angularcore/vendor/js/j.daterangepicker.js'

            'bundles/angularcore/js/controllers/controllers.js'
            'bundles/angularcore/js/directives/directives.js'
            'bundles/angularcore/js/directives/contenteditable.js'
            'bundles/angularcore/js/filters/filters.js'
            'bundles/angularcore/js/services/services.js'

            'bundles/angularcore/js/main.js'
            'bundles/angularcore/js/app.js'

        %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <ng-include src="'/bundles/angularcore/templates/inc/navbar.html'"></ng-include>
        
        <div id="main-container" class="container main-container">
            <alerts></alerts>
            <div id="ngView" ng-view></div>
        </div>
    </body>
</html>
