<!DOCTYPE html>
<html lang="es" ng-app="myApp">
    <head>
        <meta charset="UTF-8" />
        <title>Symfony + Angular</title>

        <!-- WEB URL -->
        <base href="{{ path("homepage") }}" />

        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300">

        {% stylesheets filter='cssrewrite'
            'bundles/angularcore/vendor/css/bootstrap.min.css'
            'bundles/angularcore/vendor/css/ace.bootstrap.min.css'
            'bundles/angularcore/vendor/css/font-awesome.min.css'

            'bundles/angularcore/css/main.less'
        %}
            <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
        {% endstylesheets %}

        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('bundles/angularcore/vendor/js/jquery.min.js') }}">\x3C/script>')</script>
        <!-- END jQuery -->

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="login-layout">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center">
                            <h1>
                                <i class="fa-leaf green"></i>
                                <span class="red">Symfony</span>
                                <span class="green">
                                    <i class="fa-heart"></i>
                                </span>
                                <span class="white">Angular</span>
                            </h1>
                            <h4 class="blue">&copy; Sergio Toro</h4>
                        </div>

                        <div class="space-6"></div>

                        <div class="position-relative">
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for key, message in messages %}
                                    <div class="alert alert-{{(type=='error' ? 'danger' : type)}} alert-dismissable">
                                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                        {{ message | trans }}
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            {% block fos_user_content %}
                            {% endblock fos_user_content %}
                        </div>

                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.row-->
        </div><!--/.container-->
    </body>
</html>



