/******************************************
 * Directives
 ******************************************/

// Checkbox directive
checkbox i {
    font-size: 24px;
    cursor: pointer;
}

// Colorpicker
colorpicker {
    .btn-group, .btn-group.open {
        button.btn {
            background-color: transparent !important;
            &:hover, &:active, &:focus {
                background-color: transparent !important;    
            }    
        }
    }
    button.btn {
        opacity: 0.6;
        padding: 2px 7px 0;
        &:hover { 
            opacity: 1;
        }
        i {
            font-size: 24px;
        }
    }
    i.default {
        color: #ABBAC3;    
    }
    ul.dropdown-menu {
        min-width: 103px;
        li {
            float: left;
        }
    }
}

/******************************************
 * Page CSS
 ******************************************/
#navbar {
    loading {
        margin-left: 15px;
        line-height: 45px;
        height: 45px;
        overflow: hidden;
        color: #FFF;
    }
}

#main-container {
    padding-top: 45px;
    &.loading {
        opacity: 0.6
    }
}


// Tasks page
#tasks {
    padding-top: 15px;
    ul.tasks {
        padding-top: 25px;
    }
    li.task {
        padding-top: 15px;
        &.done {
            background-color: #F4F9FC;
            color: #8090A0;
            h4, p {
                text-decoration: line-through;
            }
        }
        h4 { 
            margin-top: 0;
        }
        div.footer {
            padding-top: 5px;
            min-height: 40px;
        }
        &:hover span.time-ago {
            opacity: 1;
        }
        p.content {
            min-height: 30px;
        }
        span.time-ago {
            opacity: 0.6;
            i.fa-clock-o {
                color: #ddd;
            }
        }
        div.tooltip-inner {
            font-size: 10px;
            white-space: nowrap;
        }

        button.delete {
            opacity: 0.6;
            padding: 2px 5px 0;
            border-width: 2px;
            background-color: transparent !important;
            margin-left: 10px;
            &:hover, &:active, &:focus {
                background-color: transparent !important;    
            }
            &:hover { 
                opacity: 1;
            }
            i {
                font-size: 24px;
                color: #ABBAC3;
            }
        }

    }
    p.loadingTasks {
        margin-top: 50px;
    }
}

// New Task
#newTask {
    padding-top: 15px;
    form[name="form"] {
        padding-top: 30px;
        input[name="title"] {
            font-size: 18px;
        }
    }
}