<div id="navbar" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#/">
                <small>
                    Symfony <i class="fa-heart red"></i> Angular
                </small>
            </a>
        </div>
    
        <loading class="pull-left"></loading>
    </div>
</div>