<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle" type="button">
        <i class="fa-tint {{color}}"></i>
    </button>
    <ul role="menu" class="dropdown-menu">
        <li ng-repeat="item in colors" ng-class="{ active: color==item }">
            <a href="javascript:;" ng-click="pick(item)">
                <i class="fa-circle {{item}}"></i>
            </a>
        </li>
    </ul>
</div>