<div id="tasks" class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-content">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-8">
                        <h1>
                            Tasks
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <a ng-href="#/new-task" class="btn btn-success btn-xs pull-right">
                            New task
                        </a>
                    </div>
                </div>
            </div>

            <ul class="item-list tasks" ng-if="!loading || !tasks.length">
                <li class="task item-{{task.color}} clearfix"
                    ng-class="{ done: task.done }"
                    ng-repeat="task in tasks"
                    ng-mouseover="showControls=true"
                    ng-mouseleave="showControls=false">
                    <div class="row">
                        <div class="col-md-1">
                            <checkbox ng-model="task.done" ng-change="change($index, 'done')"></checkbox>
                        </div>
                        <div class="col-md-11">
                            <h4 contenteditable="true" ng-model="task.title"
                                ng-change="change($index, 'title')">{{task.title}}</h4>
                            <p  class="content" contenteditable="true" ng-model="task.content"
                                ng-change="change($index, 'content')">{{task.content}}</p>
                        </div>
                    </div>

                    <div class="row footer">
                        <div class="col-md-8 col-md-offset-1">
                            <div ng-if="showControls">
                                <colorpicker ng-model="task.color" ng-change="change($index, 'color')"></colorpicker>
                                <button type="button" class="delete btn btn-default btn-sm"
                                        confirm="Are you sure?"
                                        on-confirm="remove($index)">
                                    <i class="fa-trash-o"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <span class="pull-right time-ago"
                                  tooltip="Created {{task.created_at | moment}}">
                                <i  class="fa-clock-o"></i> {{task.modified_at | moment}}
                            </span>
                        </div>
                    </div>
                </li>
            </ul>

            <p class="text-center loadingTasks" ng-if="loading">
                <i class="fa-refresh fa-spin fa-5x"></i>
            </p>

            <div class="alert alert-info" ng-if="!tasks.length && !loading">
                <strong>Hey!</strong> You have no tasks, Do you want to create one?
                <br>
                <br>
                <a href="#/new-task" class="btn btn-info">New Task</a> 
            </div>
        </div>
    </div>
</div>