<div id="newTask" class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-content">

            <div class="page-header">
                <div class="row">
                    <div class="col-md-12">
                        <h1>
                            <a href="#/">Tasks</a>
                            <small>
                                <i class="fa-angle-double-right"></i>
                                New task
                            </small>
                        </h1>
                    </div>
                </div>
            </div>

            <form name="form" class="clearfix">
                <input  placeholder="Title...."
                        type="text" 
                        name="title"
                        ng-model="task.title"
                        maxlength="255" 
                        class="form-control"
                        required>
                <br>
                <textarea   placeholder="Write a note..."
                            name="content"
                            ng-model="task.content"
                            class="form-control" 
                            rows="3"
                            maxlength="65535"></textarea>
                <br>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="pull-left">
                            <colorpicker ng-model="task.color">
                            </colorpicker>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <a ng-href="#/" class="btn btn-default">
                                <i class="fa-times"></i> Cancel
                            </a>
                            <button class="btn btn-primary" 
                                    ng-click="save()"
                                    ng-disabled="form.$invalid || saving">
                                <i class="fa-save"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>